.alert-danger{
    display: none;
}

.alert-success{
    display: none;
}

.todo{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    
}

.todo-list>div{
    margin-bottom: 3px;

}
.todo-list{
    margin-top: 5px;
}



p{
    width: 100px;

}

h3{
    width: 100px;
}


.todo{
    cursor: pointer;
}


